<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/style.css" rel="stylesheet" />
    <link href="/reset.css" rel="stylesheet" />
    <title>Title</title>

</head>
<header th:insert="header.html :: header"></header>

<body style="background-image: url('https://i.stack.imgur.com/jGlzr.png'); background-repeat: no-repeat;
  background-size: cover">


<h2 style="text-align:center; color:white; font-size:xx-large">Login!</h2>
<form action="login" method='POST' style="text-align:center;  width: 400px; margin-left:auto; margin-right:auto">
    <br>
    <br>
    <table style="text-align:center; margin-left:auto; margin-right:auto">
        <tr style="text-align:center">
            <td style="color:white; font-size:x-large; text-align:center">User Name:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr style="text-align:center">
            <td style="color:white; font-size:x-large; text-align:center">Password:</td>
            <td><input type='password' name='password' /></td>
    </table>
    <br>
    <br>
    <input style="color:black; text-align:center; margin-left:auto; margin-right:auto; font-size:larger; background-color: white; width: 100px; border: 2px solid black" name="submit" type="submit" value="Submit" />
    <br>
    <br>
</form>

</body>
</html>