<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style.css" rel="stylesheet" />
    <link href="/reset.css" rel="stylesheet" />

</head>
<body style="background-image: url('https://i.stack.imgur.com/jGlzr.png'); background-repeat: no-repeat;
  background-size: cover">
<header th:insert="header.html :: header"></header>


<h2 style="text-align:center; color:white; font-size:xx-large">Sign Up!</h2>
<form action="/signup" method="post" style="text-align:center;  width: 650px; margin-left:auto; margin-right:auto">

    <label for="username" style="color:white; font-size:x-large">UserName</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="firstname" style="color:white; font-size:x-large">First Name</label>
    <input type="text" id="firstname" name="firstname">
    <br>
    <label for="lastname" style="color:white; font-size:x-large">Last Name</label>
    <input type="text" id="lastname" name="lastname">
    <br>
    <label for="pass" style="color:white; font-size:x-large">Password</label>
    <input type="password" id="pass" name="password">
    <br>
    <label for="dateofbirth" style="color:white; font-size:x-large">Date Of Birth</label>
    <input type="date" id="dateofbirth" name="dateofbirth">
    <br>
    <label for="bio" style="color:white; font-size:x-large">Bio</label>
    <textarea name="bio" id="bio" rows="5" cols="14"></textarea>
    <br>
    <input type="submit" name="submit" value="Submit">

</form>

</body>
</html>
