<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style.css" rel="stylesheet" />
    <link href="/reset.css" rel="stylesheet" />
</head>
<body style="background-image: url('https://i.stack.imgur.com/jGlzr.png'); background-repeat: no-repeat;
  background-size: cover">
<header th:insert="header.html :: header"></header>


<div style="text-align:center; margin-left:auto; margin-right:auto;  width:750px; margin-bottom:20px">
    <br>
    <h1 style="color:black; font-size:xx-large">Welcome to [[${user.firstname}]] 's profile</h1>
    <br>
    <p style="color:white; font-size:x-large">My information:</p>
    <br>
    <p style="color:white; font-size:x-large"> First name: <span th:text="${user.username}"></span></p>
    <br>
    <p style="color:white; font-size:x-large">Last name <span th:text="${user.lastname}"></span></p>
    <br>
    <p style="color:white; font-size:x-large">Date of birth: <span th:text="${user.dateOfBirth}"></span></p>
    <br>
    <p style="color:white; font-size:x-large">Bio: <span th:text="${user.bio}"></span></p>
    <br>
    <h2>My Recent Posts</h2>
    <br>
    <br>
    <ul>
        <li th:each="post : ${user.posts}" th:text="${post}"></li>
    </ul>
</div>


</body>
</html>

